@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        height: 100%;
        font-family: Optima;
        background-color: black;
    }
  }
   
  @layer utilities{
    /*utility classes here */
  }
   
  @layer components{
     /*components classes here */
  }
   